.carousel {
    display: flex;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .carousel-item {
    flex: 0 0 100%;
    position: relative;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-item:not(.active) {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
  