body{
    font-family: poppins;
  }
      .navbar-inverse {
   background-color: transparent;
   border-color: transparent;
  }
      .navbar-inverse .navbar-brand {
   color: #fff;
  }
      .navbar-inverse .navbar-nav > li > a {
   color: #fff;
   text-transform: uppercase;
   font-weight: 900;
  }
  header .carousel-inner .item{
    height: 100vh;
  }
  header .carousel-inner .item img{
    width: 100%;
  }
  .carousel-caption{
    padding-bottom: 250px;
  }
  .carousel-caption h2{
    font-size: 50px;
    text-transform: uppercase;
  }
  .carousel-control.right{
    background-image: none;
  }
  .carousel-control.left{
    background-image: none;
  }
  
  